# yfinance HOWTO

### How to effectively use yfinance

## Load Historical Prices

In [3]:
# Loading Yahoo Prices
import yfinance as yf

symbols = ["AAPL", "GOOG", "NVDA"]
start_date = '2022-01-01'
end_date = '2022-12-31'
prices = yf.download(symbols, start=start_date, end=end_date, 
                     actions=True, # Get dividends and splits
                     auto_adjust=False, # Auto-adjust close price for dividends
                     progress=False # show progress bar
                    )

prices

Price                       Adj Close                              Close  \
Ticker                           AAPL        GOOG       NVDA        AAPL
Date
2022-01-03 00:00:00+00:00  178.879883  144.555084  30.070992  182.009995
2022-01-04 00:00:00+00:00  176.609650  143.899460  29.241367  179.699997
2022-01-05 00:00:00+00:00  171.911835  137.160675  27.558170  174.919998
2022-01-06 00:00:00+00:00  169.042053  137.058548  28.131214  172.000000
2022-01-07 00:00:00+00:00  169.209122  136.513992  27.201757  172.169998
...                               ...         ...        ...         ...
2022-12-23 00:00:00+00:00  130.344498   89.488457  15.194948  131.860001
2022-12-27 00:00:00+00:00  128.535538   87.615196  14.110737  130.029999
2022-12-28 00:00:00+00:00  124.591377   86.150452  14.025798  126.040001
2022-12-29 00:00:00+00:00  128.120346   88.631538  14.592385  129.610001
2022-12-30 00:00:00+00:00  128.436676   88.412331  14.603378  129.929993

Price                                            Dividends            \
Ticker                           GOOG       NVDA      AAPL GOOG NVDA
Date
2022-01-03 00:00:00+00:00  145.074493  30.121000       0.0  0.0  0.0
2022-01-04 00:00:00+00:00  144.416504  29.290001       0.0  0.0  0.0
2022-01-05 00:00:00+00:00  137.653503  27.604000       0.0  0.0  0.0
2022-01-06 00:00:00+00:00  137.550995  28.177999       0.0  0.0  0.0
2022-01-07 00:00:00+00:00  137.004501  27.247000       0.0  0.0  0.0
...                               ...        ...       ...  ...  ...
2022-12-23 00:00:00+00:00   89.809998  15.206000       0.0  0.0  0.0
2022-12-27 00:00:00+00:00   87.930000  14.121000       0.0  0.0  0.0
2022-12-28 00:00:00+00:00   86.459999  14.036000       0.0  0.0  0.0
2022-12-29 00:00:00+00:00   88.949997  14.603000       0.0  0.0  0.0
2022-12-30 00:00:00+00:00   88.730003  14.614000       0.0  0.0  0.0

Price                            High  ...        Low        Open              \
Ticker                           AAPL  ...       NVDA        AAPL        GOOG
Date                                   ...
2022-01-03 00:00:00+00:00  182.880005  ...  29.785000  177.830002  144.475494
2022-01-04 00:00:00+00:00  182.940002  ...  28.349001  182.630005  145.550507
2022-01-05 00:00:00+00:00  180.169998  ...  27.533001  179.610001  144.181000
2022-01-06 00:00:00+00:00  175.300003  ...  27.065001  172.699997  137.497498
2022-01-07 00:00:00+00:00  174.139999  ...  27.056999  172.889999  137.904999
...                               ...  ...        ...         ...         ...
2022-12-23 00:00:00+00:00  132.419998  ...  14.883000  130.919998   87.620003
2022-12-27 00:00:00+00:00  131.410004  ...  14.056000  131.380005   89.309998
2022-12-28 00:00:00+00:00  131.029999  ...  13.884000  129.669998   87.500000
2022-12-29 00:00:00+00:00  130.479996  ...  14.227000  127.989998   87.029999
2022-12-30 00:00:00+00:00  129.949997  ...  14.233000  128.410004   87.364998

Price                                Stock Splits               Volume  \
Ticker                          NVDA         AAPL GOOG NVDA       AAPL
Date
2022-01-03 00:00:00+00:00  29.815001          0.0  0.0  0.0  104487900
2022-01-04 00:00:00+00:00  30.277000          0.0  0.0  0.0   99310400
2022-01-05 00:00:00+00:00  28.948999          0.0  0.0  0.0   94537600
2022-01-06 00:00:00+00:00  27.639999          0.0  0.0  0.0   96904000
2022-01-07 00:00:00+00:00  28.141001          0.0  0.0  0.0   86709100
...                              ...          ...  ...  ...        ...
2022-12-23 00:00:00+00:00  15.196000          0.0  0.0  0.0   63814900
2022-12-27 00:00:00+00:00  15.074000          0.0  0.0  0.0   69007800
2022-12-28 00:00:00+00:00  13.927000          0.0  0.0  0.0   85438400
2022-12-29 00:00:00+00:00  14.402000          0.0  0.0  0.0   75703700
2022-12-30 00:00:00+00:00  14.334000          0.0  0.0  0.0   77034200

Price
Ticker                         GOOG       NVDA
Date
2022-01-03 00:00:00+00:00  25214000  391547000
2022-01-04 00:00:00+00:00  22928000  527154000
2022-01-05 00:00:00+00:00  49642000  498064000
2022-01-06 00:00:00+00:00  29050000  454186000
2022-01-07 00:00:00+00:00  19408000  409939000
...                             ...        ...
2022-12-23 00:00:00+00:00  17815000  349326000
2022-12-27 00:00:00+00:00  15470900  464902000
2022-12-28 00:00:00+00:00  17879600  351066000
2022-12-29 00:00:00+00:00  18280700  354923000
2022-12-30 00:00:00+00:00  19190300  310490000

[251 rows x 24 columns]

In [4]:
# Extract close price for all symbols
close_prices = prices["Close"]
close_prices

Ticker                           AAPL        GOOG       NVDA
Date
2022-01-03 00:00:00+00:00  182.009995  145.074493  30.121000
2022-01-04 00:00:00+00:00  179.699997  144.416504  29.290001
2022-01-05 00:00:00+00:00  174.919998  137.653503  27.604000
2022-01-06 00:00:00+00:00  172.000000  137.550995  28.177999
2022-01-07 00:00:00+00:00  172.169998  137.004501  27.247000
...                               ...         ...        ...
2022-12-23 00:00:00+00:00  131.860001   89.809998  15.206000
2022-12-27 00:00:00+00:00  130.029999   87.930000  14.121000
2022-12-28 00:00:00+00:00  126.040001   86.459999  14.036000
2022-12-29 00:00:00+00:00  129.610001   88.949997  14.603000
2022-12-30 00:00:00+00:00  129.929993   88.730003  14.614000

[251 rows x 3 columns]

In [5]:
# Extract all prices for a single symbol
prices_goog = prices.xs("GOOG", level=1, axis=1)
prices_goog

Price,Adj Close,Close,Dividends,High,Low,Open,Stock Splits,Volume
Date,,,,,,,,
2022-01-03 00:00:00+00:00,144.555084,145.074493,0.0,145.550003,143.502502,144.475494,0.0,25214000
2022-01-04 00:00:00+00:00,143.899460,144.416504,0.0,146.610001,143.816147,145.550507,0.0,22928000
2022-01-05 00:00:00+00:00,137.160675,137.653503,0.0,144.298004,137.523499,144.181000,0.0,49642000
2022-01-06 00:00:00+00:00,137.058548,137.550995,0.0,139.686005,136.763504,137.497498,0.0,29050000
2022-01-07 00:00:00+00:00,136.513992,137.004501,0.0,138.254745,135.789001,137.904999,0.0,19408000
...,...,...,...,...,...,...,...,...
2022-12-23 00:00:00+00:00,89.488457,89.809998,0.0,90.099998,87.620003,87.620003,0.0,17815000
2022-12-27 00:00:00+00:00,87.615196,87.930000,0.0,89.500000,87.535004,89.309998,0.0,15470900
2022-12-28 00:00:00+00:00,86.150452,86.459999,0.0,88.519997,86.370003,87.500000,0.0,17879600
2022-12-29 00:00:00+00:00,88.631538,88.949997,0.0,89.364998,86.989998,87.029999,0.0,18280700
2022-12-30 00:00:00+00:00,88.412331,88.730003,0.0,88.830002,87.029999,87.364998,0.0,19190300

## Resample Prices

In [7]:
prices.resample("ME").last()

Price                       Adj Close                              Close  \
Ticker                           AAPL        GOOG       NVDA        AAPL
Date
2022-01-31 00:00:00+00:00  171.774246  135.212677  24.445345  174.779999
2022-02-28 00:00:00+00:00  162.487106  134.408081  24.344511  165.119995
2022-03-31 00:00:00+00:00  171.825806  139.149521  27.245335  174.610001
2022-04-30 00:00:00+00:00  155.136261  114.554893  18.519360  157.649994
2022-05-31 00:00:00+00:00  146.681931  113.630714  18.644175  148.839996
2022-06-30 00:00:00+00:00  134.737640  108.980919  15.139610  136.720001
2022-07-31 00:00:00+00:00  160.153732  116.222397  18.139765  162.509995
2022-08-31 00:00:00+00:00  155.155640  108.759216  15.074693  157.220001
2022-09-30 00:00:00+00:00  136.385376   95.805763  12.127074  138.199997
2022-10-31 00:00:00+00:00  151.326569   94.321091  13.483740  153.339996
2022-11-30 00:00:00+00:00  146.328644  101.086784  16.910700  148.029999
2022-12-31 00:00:00+00:00  128.436676   88.412331  14.603378  129.929993

Price                                            Dividends              \
Ticker                           GOOG       NVDA      AAPL GOOG   NVDA
Date
2022-01-31 00:00:00+00:00  135.698502  24.486000       0.0  0.0  0.000
2022-02-28 00:00:00+00:00  134.891006  24.385000       0.0  0.0  0.000
2022-03-31 00:00:00+00:00  139.649506  27.285999       0.0  0.0  0.000
2022-04-30 00:00:00+00:00  114.966499  18.547001       0.0  0.0  0.000
2022-05-31 00:00:00+00:00  114.039001  18.672001       0.0  0.0  0.000
2022-06-30 00:00:00+00:00  109.372498  15.159000       0.0  0.0  0.000
2022-07-31 00:00:00+00:00  116.639999  18.163000       0.0  0.0  0.000
2022-08-31 00:00:00+00:00  109.150002  15.094000       0.0  0.0  0.000
2022-09-30 00:00:00+00:00   96.150002  12.139000       0.0  0.0  0.000
2022-10-31 00:00:00+00:00   94.660004  13.497000       0.0  0.0  0.000
2022-11-30 00:00:00+00:00  101.449997  16.923000       0.0  0.0  0.004
2022-12-31 00:00:00+00:00   88.730003  14.614000       0.0  0.0  0.000

Price                            High  ...        Low        Open              \
Ticker                           AAPL  ...       NVDA        AAPL        GOOG
Date                                   ...
2022-01-31 00:00:00+00:00  175.000000  ...  23.052000  170.160004  134.197998
2022-02-28 00:00:00+00:00  165.419998  ...  23.707001  163.059998  133.284500
2022-03-31 00:00:00+00:00  178.029999  ...  27.270000  177.839996  142.448502
2022-04-30 00:00:00+00:00  166.199997  ...  18.517000  161.839996  117.578003
2022-05-31 00:00:00+00:00  150.660004  ...  18.350000  149.070007  113.079002
2022-06-30 00:00:00+00:00  138.369995  ...  14.862000  137.250000  110.499496
2022-07-31 00:00:00+00:00  163.630005  ...  17.691999  161.240005  113.400002
2022-08-31 00:00:00+00:00  160.580002  ...  14.959000  160.309998  111.629997
2022-09-30 00:00:00+00:00  143.100006  ...  12.075000  141.279999   97.730003
2022-10-31 00:00:00+00:00  154.240005  ...  13.297000  153.160004   95.779999
2022-11-30 00:00:00+00:00  148.720001  ...  15.597000  141.399994   95.120003
2022-12-31 00:00:00+00:00  129.949997  ...  14.233000  128.410004   87.364998

Price                                Stock Splits               Volume  \
Ticker                          NVDA         AAPL GOOG NVDA       AAPL
Date
2022-01-31 00:00:00+00:00  23.181999          0.0  0.0  0.0  115541600
2022-02-28 00:00:00+00:00  23.992001          0.0  0.0  0.0   95056600
2022-03-31 00:00:00+00:00  27.782000          0.0  0.0  0.0  103049300
2022-04-30 00:00:00+00:00  19.402000          0.0  0.0  0.0  131747600
2022-05-31 00:00:00+00:00  18.980000          0.0  0.0  0.0  103718400
2022-06-30 00:00:00+00:00  15.361000          0.0  0.0  0.0   98964500
2022-07-31 00:00:00+00:00  17.813000          0.0  0.0  0.0  101786900
2022-08-31 00:00:00+00:00  15.384000          0.0  0.0  0.0   87991100
2022-09-30 00:00:00+00:00  12.087000          0.0  0.0  0.0  124925300
2022-10-31 00:00:00+00:00  13.778000          0.0  0.0  0.0   97943200
2022-11-30 00:00:00+00:00  15.697000          0.0  0.0  0.0  111380900
2022-12-31 00:00:00+00:00  14.334000          0.0  0.0  0.0   77034200

Price
Ticker                         GOOG       NVDA
Date
2022-01-31 00:00:00+00:00  34056000  564680000
2022-02-28 00:00:00+00:00  29676000  477319000
2022-03-31 00:00:00+00:00  29516000  523440000
2022-04-30 00:00:00+00:00  33694000  500435000
2022-05-31 00:00:00+00:00  51302000  664100000
2022-06-30 00:00:00+00:00  38046000  686070000
2022-07-31 00:00:00+00:00  31336200  435460000
2022-08-31 00:00:00+00:00  25898000  573710000
2022-09-30 00:00:00+00:00  26277800  565638000
2022-10-31 00:00:00+00:00  29868700  486341000
2022-11-30 00:00:00+00:00  39888100  565298000
2022-12-31 00:00:00+00:00  19190300  310490000

[12 rows x 24 columns]

## Compute Unadjusted prices before Splits

In [8]:
# Extract relevant data
close_prices = prices_goog["Close"]  # Already adjusted for splits
splits = prices_goog["Stock Splits"]  # Stock split data

splits = splits.replace(0, 1)  # Ensure no division by zero

# Compute cumulative product of splits to reconstruct raw prices
cumulative_splits = splits[::-1].cumprod()[::-1] 
cumulative_splits

Date
2022-01-03 00:00:00+00:00    20.0
2022-01-04 00:00:00+00:00    20.0
2022-01-05 00:00:00+00:00    20.0
2022-01-06 00:00:00+00:00    20.0
2022-01-07 00:00:00+00:00    20.0
                             ...
2022-12-23 00:00:00+00:00     1.0
2022-12-27 00:00:00+00:00     1.0
2022-12-28 00:00:00+00:00     1.0
2022-12-29 00:00:00+00:00     1.0
2022-12-30 00:00:00+00:00     1.0
Name: Stock Splits, Length: 251, dtype: float64

In [9]:
# Reconstruct fully unadjusted close prices
unadjusted_close = close_prices * cumulative_splits  # Reverse split adjustments
unadjusted_close

Date
2022-01-03 00:00:00+00:00    2901.489868
2022-01-04 00:00:00+00:00    2888.330078
2022-01-05 00:00:00+00:00    2753.070068
2022-01-06 00:00:00+00:00    2751.019897
2022-01-07 00:00:00+00:00    2740.090027
                                ...
2022-12-23 00:00:00+00:00      89.809998
2022-12-27 00:00:00+00:00      87.930000
2022-12-28 00:00:00+00:00      86.459999
2022-12-29 00:00:00+00:00      88.949997
2022-12-30 00:00:00+00:00      88.730003
Length: 251, dtype: float64

## Compute Portfolio Returns

In [11]:
etf_portfolio = {
    "VOO": 30,  # U.S. Stocks (Large-Cap)
    "VB": 10,   # U.S. Stocks (Small-Cap)
    "VEA": 15,  # International Stocks (Developed Markets)
    "VWO": 10,  # Emerging Markets Stocks
    "BND": 15,  # Bonds (U.S. Treasuries)
    "VNQ": 10,  # Real Estate (REITs)
    "GLD": 5,   # Commodities (Gold)
    "VTIP": 5   # Cash or Inflation Protection (TIPS)
}

symbols = list(etf_portfolio.keys())
from_date='2016-01-01'
to_date = '2024-12-31'
prices = yf.download(symbols, start=from_date, end=to_date, auto_adjust=True, progress=False)
# Extract close price for all symbols
close_prices = prices["Close"]
close_prices

Ticker,BND,GLD,VB,VEA,VNQ,VOO,VTIP,VWO
Date,,,,,,,,
2016-01-04 00:00:00+00:00,62.678726,102.889999,95.346100,27.524210,55.034004,157.483002,37.730122,24.386217
2016-01-05 00:00:00+00:00,62.756344,103.180000,95.398666,27.493773,56.096008,157.764938,37.706665,24.439936
2016-01-06 00:00:00+00:00,63.035866,104.669998,93.971252,26.991543,55.942314,155.765549,37.706665,24.002552
2016-01-07 00:00:00+00:00,63.043678,106.150002,91.440483,26.481686,54.852371,151.971832,37.737942,23.227528
2016-01-08 00:00:00+00:00,63.121326,105.680000,90.170715,26.154474,54.118767,150.356888,37.784859,23.020346
...,...,...,...,...,...,...,...,...
2024-12-23 00:00:00+00:00,71.513924,240.960007,241.899994,47.849998,88.820000,547.190002,48.301003,44.590000
2024-12-24 00:00:00+00:00,71.616585,241.440002,243.919998,48.040001,89.410004,552.820007,48.330002,44.770000
2024-12-26 00:00:00+00:00,71.666428,243.070007,244.979996,48.230000,89.650002,552.809998,48.349998,44.660000
2024-12-27 00:00:00+00:00,71.516914,241.399994,242.149994,48.110001,88.750000,547.080017,48.340000,44.500000
2024-12-30 00:00:00+00:00,71.796005,240.630005,240.089996,47.810001,88.309998,540.989990,48.400002,44.110001

In [12]:
# Compute returns for each asset
returns = close_prices.pct_change().dropna()
returns

Ticker,BND,GLD,VB,VEA,VNQ,VOO,VTIP,VWO
Date,,,,,,,,
2016-01-05 00:00:00+00:00,0.001238,0.002819,0.000551,-0.001106,0.019297,0.001790,-0.000622,0.002203
2016-01-06 00:00:00+00:00,0.004454,0.014441,-0.014963,-0.018267,-0.002740,-0.012673,0.000000,-0.017896
2016-01-07 00:00:00+00:00,0.000124,0.014140,-0.026931,-0.018890,-0.019483,-0.024355,0.000829,-0.032289
2016-01-08 00:00:00+00:00,0.001232,-0.004428,-0.013886,-0.012356,-0.013374,-0.010627,0.001243,-0.008920
2016-01-11 00:00:00+00:00,-0.004182,-0.008895,-0.004856,0.004364,0.005680,0.000114,-0.001655,-0.004333
...,...,...,...,...,...,...,...,...
2024-12-23 00:00:00+00:00,-0.003185,-0.004709,0.000223,0.005886,0.003911,0.007158,-0.000205,0.004279
2024-12-24 00:00:00+00:00,0.001436,0.001992,0.008351,0.003971,0.006643,0.010289,0.000600,0.004037
2024-12-26 00:00:00+00:00,0.000696,0.006751,0.004346,0.003955,0.002684,-0.000018,0.000414,-0.002457
2024-12-27 00:00:00+00:00,-0.002086,-0.006871,-0.011552,-0.002488,-0.010039,-0.010365,-0.000207,-0.003583
2024-12-30 00:00:00+00:00,0.003902,-0.003190,-0.008507,-0.006236,-0.004958,-0.011132,0.001241,-0.008764

In [15]:
# Compute portfolio returns
import numpy as np

weights = np.array(list(etf_portfolio.values())) / 100  # Convert % to decimal

# Compute portfolio returns (dot product of weights and returns)
portfolio_returns = returns.dot(weights)

# Convert to DataFrame
returns["Portfolio Return"] = portfolio_returns

# Display first few rows
returns

Ticker,BND,GLD,VB,VEA,VNQ,VOO,VTIP,VWO,Portfolio Return
Date,,,,,,,,,
2016-01-05 00:00:00+00:00,0.001238,0.002819,0.000551,-0.001106,0.019297,0.001790,-0.000622,0.002203,0.003778
2016-01-06 00:00:00+00:00,0.004454,0.014441,-0.014963,-0.018267,-0.002740,-0.012673,0.000000,-0.017896,-0.003864
2016-01-07 00:00:00+00:00,0.000124,0.014140,-0.026931,-0.018890,-0.019483,-0.024355,0.000829,-0.032289,-0.011409
2016-01-08 00:00:00+00:00,0.001232,-0.004428,-0.013886,-0.012356,-0.013374,-0.010627,0.001243,-0.008920,-0.006844
2016-01-11 00:00:00+00:00,-0.004182,-0.008895,-0.004856,0.004364,0.005680,0.000114,-0.001655,-0.004333,-0.001872
...,...,...,...,...,...,...,...,...,...
2024-12-23 00:00:00+00:00,-0.003185,-0.004709,0.000223,0.005886,0.003911,0.007158,-0.000205,0.004279,0.000702
2024-12-24 00:00:00+00:00,0.001436,0.001992,0.008351,0.003971,0.006643,0.010289,0.000600,0.004037,0.004537
2024-12-26 00:00:00+00:00,0.000696,0.006751,0.004346,0.003955,0.002684,-0.000018,0.000414,-0.002457,0.002230
2024-12-27 00:00:00+00:00,-0.002086,-0.006871,-0.011552,-0.002488,-0.010039,-0.010365,-0.000207,-0.003583,-0.006026
2024-12-30 00:00:00+00:00,0.003902,-0.003190,-0.008507,-0.006236,-0.004958,-0.011132,0.001241,-0.008764,-0.003281